@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.App {
  text-align: center;
  --c_bg:#282c34;
  --c_dark:black;
  --c_light:white;
  --c_accent:orange;
  background-color: var(--c_bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Creepster', cursive;
  color: white;
}

.clickable{

}
.clickable:hover{
  cursor: pointer;
  opacity: 0.5;
  border-radius: 10vw;
}

#startButton{
  background-color:var(--c_accent);
  color:var(--c_dark);
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: calc(10px + 6vmin);
  margin: 4px 2px;
  border-radius: 5px;
}
